In [78]:
from openpyxl import load_workbook
from google.cloud import storage
from pyspark.sql import *
from pyspark.sql.functions import *
import requests
import pandas as pd
from io import BytesIO
import hashlib
from pyspark.sql.types import *
from pyspark.sql import Window as W
pd.set_option('display.max_columns', None)  # Show all columns
pd.set_option('display.width', 1000)

In [79]:
import msal
import requests
from pyspark.sql import SparkSession
from delta import DeltaTable
import os
from pyspark.sql.utils import *

In [80]:
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .appName("DeltaExample") \
    .config("spark.jars.packages", "io.delta:delta-core_2.12:2.4.0") \
    .config("spark.sql.extensions", "io.delta.sql.DeltaSparkSessionExtension") \
    .config("spark.sql.catalog.spark_catalog", "org.apache.spark.sql.delta.catalog.DeltaCatalog") \
    .getOrCreate()

In [81]:
mount_d ="/data/"
trgt_path = '/mnt/'
trgt_path_processed = trgt_path+"data_file_Parquet"

In [82]:

source_path = mount_d+'SPENDING_HISTORY.xlsm'
sheet_name ='To_Backend'

In [83]:
def get_max_date(trgt_path_processed):
    max_date="0"
    try:
        # Try to read the Parquet file
        df = spark.read.parquet(trgt_path_processed)
        # Check if DataFrame is empty
        if df.head(1):
            df.createOrReplaceTempView("vw_max")
            max_date_s = spark.sql("select max(datesk) as max_date from vw_max").collect()[0][0]
            max_date = max_date_s[0:4]  +   "-" +   max_date_s[4:6] +   "-" +   max_date_s[6:8]
            return max_date
        else:
            max_date = "0"
            return max_date
    except AnalysisException:
        return max_date

In [84]:
max_date=get_max_date(trgt_path_processed)
print(max_date)

2024-10-18

In [85]:
pandas_df = pd.read_excel(source_path, sheet_name = sheet_name)
df=spark.createDataFrame(pandas_df)
df= df.withColumn("Date", date_format(df["Date"], "yyyy-MM-dd"))

In [102]:
max_date=get_max_date(trgt_path_processed)
df.createOrReplaceTempView("vw_src")
query = "select * from vw_src where Date >= '" + max_date + "'"
#query = "select * from vw_src where Date >= '1999-01-01'"
print(query)
df_src = spark.sql(query)
df_src.show()

select * from vw_src where Date >= '0'
+-----+----------+--------------+--------------------+---------------+------------+
|Index|      Date| Spending Item|         Wallet used|       Category|Spend Amount|
+-----+----------+--------------+--------------------+---------------+------------+
|    1|2024-10-01|      Bus Fare|           ICICI Pay|     Travelling|         271|
|    2|2024-10-01|   Zomato Food|       Amazon Wallet|           Food|         436|
|    3|2024-10-01|Phone Recharge|           ICICI Pay|Mobile Recharge|         359|
|    4|2024-10-01|Phone Recharge|Credit Card - Amazon|Mobile Recharge|         118|
|    5|2024-10-01|  food from FC|               G-pay|           Food|         120|
|    6|2024-10-01|   Zomato Food|       Amazon Wallet|           Food|         160|
|    7|2024-10-01|     Groceries|           ICICI Pay|           Food|         245|
|    8|2024-10-02|         Iwish|           ICICI Pay|     Investment|         745|
|    9|2024-10-02|      TVM Rent|               G-pay|           Rent|        3250|
|   10|2024-10-02| Gold Invstmnt|Credit Card - Amazon|     Investment|        1000|
|   11|2024-10-03|   Zomato Food|       Amazon Wallet|           Food|         170|
|   12|2024-10-04|   Zomato Food|       Amazon Wallet|           Food|         154|
|   13|2024-10-05|Phone Recharge|Credit Card - Amazon|Mobile Recharge|         359|
|   14|2024-10-06|     Food Mess|               G-pay|           Food|         760|
|   15|2024-10-07|  food from FC|               G-pay|           Food|         125|
|   16|2024-10-07|     Groceries|               G-pay|           Food|         257|
|   17|2024-10-07|   KSFE Chitti|           ICICI Pay|         Chitty|       13194|
|   18|2024-10-09|    Investment|           ICICI Pay|     Investment|       15000|
|   19|2024-10-09|    Investment|           ICICI Pay|     Investment|        2500|
|   20|2024-10-09|    Investment|           ICICI Pay|     Investment|        2780|
+-----+----------+--------------+--------------------+---------------+------------+
only showing top 20 rows

In [103]:
df_new = df_src.withColumn("walletsk",xxhash64("Wallet used")) \
    .withColumn("categorysk",xxhash64("category")) \
        .withColumn("DateSK", regexp_replace("date", "-", "")) \
            .withColumn("PKSK", xxhash64("Category","Wallet used","Index","Date"))\
                .withColumn("UpdateTimeStamp", date_format(current_timestamp(), format="yyyy-MM-dd-hh:mm:ss"))\
                .drop("Index","Date","category","Wallet used")

In [104]:
df_new.show()

+--------------+------------+--------------------+--------------------+--------+--------------------+-------------------+
| Spending Item|Spend Amount|            walletsk|          categorysk|  DateSK|                PKSK|    UpdateTimeStamp|
+--------------+------------+--------------------+--------------------+--------+--------------------+-------------------+
|      Bus Fare|         271| 6156857810389859050|-6960913322501014326|20241001|-7791941136341072556|2024-10-27-09:51:19|
|   Zomato Food|         436|-2996829708924805941|-1486987501743003025|20241001| 2720454524596920964|2024-10-27-09:51:19|
|Phone Recharge|         359| 6156857810389859050|-6072606072650303353|20241001|-5825610361050559354|2024-10-27-09:51:19|
|Phone Recharge|         118| 4962050552325147656|-6072606072650303353|20241001| 6412210583642820357|2024-10-27-09:51:19|
|  food from FC|         120| 1782127853235431588|-1486987501743003025|20241001|-9200187066285839138|2024-10-27-09:51:19|
|   Zomato Food|         160|-2996829708924805941|-1486987501743003025|20241001|-1291922622494078739|2024-10-27-09:51:19|
|     Groceries|         245| 6156857810389859050|-1486987501743003025|20241001|-4627120077685838876|2024-10-27-09:51:19|
|         Iwish|         745| 6156857810389859050| 1987224080996593371|20241002|-5100714819162191027|2024-10-27-09:51:19|
|      TVM Rent|        3250| 1782127853235431588|  858271923021320980|20241002|-3931484484783362337|2024-10-27-09:51:19|
| Gold Invstmnt|        1000| 4962050552325147656| 1987224080996593371|20241002|-5016775000958035643|2024-10-27-09:51:19|
|   Zomato Food|         170|-2996829708924805941|-1486987501743003025|20241003| -716251172709447535|2024-10-27-09:51:19|
|   Zomato Food|         154|-2996829708924805941|-1486987501743003025|20241004| -214655102084195783|2024-10-27-09:51:19|
|Phone Recharge|         359| 4962050552325147656|-6072606072650303353|20241005| 6703640484942116817|2024-10-27-09:51:19|
|     Food Mess|         760| 1782127853235431588|-1486987501743003025|20241006|-1787817312448541646|2024-10-27-09:51:19|
|  food from FC|         125| 1782127853235431588|-1486987501743003025|20241007| 8568693054882881424|2024-10-27-09:51:19|
|     Groceries|         257| 1782127853235431588|-1486987501743003025|20241007| -753502632839413814|2024-10-27-09:51:19|
|   KSFE Chitti|       13194| 6156857810389859050|-4245010722904360951|20241007| 1194157014323499732|2024-10-27-09:51:19|
|    Investment|       15000| 6156857810389859050| 1987224080996593371|20241009| 2994325216244416753|2024-10-27-09:51:19|
|    Investment|        2500| 6156857810389859050| 1987224080996593371|20241009| -186368137249218991|2024-10-27-09:51:19|
|    Investment|        2780| 6156857810389859050| 1987224080996593371|20241009|-5859098661349962230|2024-10-27-09:51:19|
+--------------+------------+--------------------+--------------------+--------+--------------------+-------------------+
only showing top 20 rows

In [105]:
df_new.createOrReplaceTempView("vw_dup")

duplicate_counts = spark.sql("""
    SELECT COUNT(PKSK) as count
    FROM vw_dup
    GROUP BY PKSK
    HAVING COUNT(PKSK) > 1
""")
x = [row['count'] for row in duplicate_counts.collect()]

# Fail the code if there are duplicates
if len(x) > 0:
    raise ValueError(f"Duplicate values found :\n{duplicate_counts}")
else:
# # Proceed with the rest of the code if no duplicates
    print("No duplicates found. Continuing execution...")

No duplicates found. Continuing execution...

In [106]:
trgt_df = spark.read.parquet(trgt_path_processed)
trgt_df.createOrReplaceTempView("vw_trgt")

In [107]:
query = "select * from vw_dup WHERE PKSK NOT IN(select PKSK from vw_trgt)"
df_merge=spark.sql(query)
df_merge.show()

+--------------+------------+--------------------+--------------------+--------+--------------------+-------------------+
| Spending Item|Spend Amount|            walletsk|          categorysk|  DateSK|                PKSK|    UpdateTimeStamp|
+--------------+------------+--------------------+--------------------+--------+--------------------+-------------------+
|      Bus Fare|         271| 6156857810389859050|-6960913322501014326|20241001|-7791941136341072556|2024-10-27-09:51:34|
|   Zomato Food|         436|-2996829708924805941|-1486987501743003025|20241001| 2720454524596920964|2024-10-27-09:51:34|
|Phone Recharge|         359| 6156857810389859050|-6072606072650303353|20241001|-5825610361050559354|2024-10-27-09:51:34|
|Phone Recharge|         118| 4962050552325147656|-6072606072650303353|20241001| 6412210583642820357|2024-10-27-09:51:34|
|  food from FC|         120| 1782127853235431588|-1486987501743003025|20241001|-9200187066285839138|2024-10-27-09:51:34|
|   Zomato Food|         160|-2996829708924805941|-1486987501743003025|20241001|-1291922622494078739|2024-10-27-09:51:34|
|     Groceries|         245| 6156857810389859050|-1486987501743003025|20241001|-4627120077685838876|2024-10-27-09:51:34|
|         Iwish|         745| 6156857810389859050| 1987224080996593371|20241002|-5100714819162191027|2024-10-27-09:51:34|
|      TVM Rent|        3250| 1782127853235431588|  858271923021320980|20241002|-3931484484783362337|2024-10-27-09:51:34|
| Gold Invstmnt|        1000| 4962050552325147656| 1987224080996593371|20241002|-5016775000958035643|2024-10-27-09:51:34|
|   Zomato Food|         170|-2996829708924805941|-1486987501743003025|20241003| -716251172709447535|2024-10-27-09:51:34|
|   Zomato Food|         154|-2996829708924805941|-1486987501743003025|20241004| -214655102084195783|2024-10-27-09:51:34|
|Phone Recharge|         359| 4962050552325147656|-6072606072650303353|20241005| 6703640484942116817|2024-10-27-09:51:34|
|     Food Mess|         760| 1782127853235431588|-1486987501743003025|20241006|-1787817312448541646|2024-10-27-09:51:34|
|  food from FC|         125| 1782127853235431588|-1486987501743003025|20241007| 8568693054882881424|2024-10-27-09:51:34|
|     Groceries|         257| 1782127853235431588|-1486987501743003025|20241007| -753502632839413814|2024-10-27-09:51:34|
|   KSFE Chitti|       13194| 6156857810389859050|-4245010722904360951|20241007| 1194157014323499732|2024-10-27-09:51:34|
|    Investment|       15000| 6156857810389859050| 1987224080996593371|20241009| 2994325216244416753|2024-10-27-09:51:34|
|    Investment|        2500| 6156857810389859050| 1987224080996593371|20241009| -186368137249218991|2024-10-27-09:51:34|
|    Investment|        2780| 6156857810389859050| 1987224080996593371|20241009|-5859098661349962230|2024-10-27-09:51:34|
+--------------+------------+--------------------+--------------------+--------+--------------------+-------------------+
only showing top 20 rows

In [108]:
# Save the DataFrame to a Parquet file
df_merge.write.format("parquet").mode("overwrite").save(trgt_path_processed)

In [115]:
df_test = spark.read.parquet(trgt_path_processed)
df_test.createOrReplaceTempView("vw_test")

In [116]:
latest_data = df_test.select(max("UpdateTimeStamp")).collect()[0][0]
print(latest_data)

2024-10-27-09:51:47

In [117]:
query = "select *  from vw_test Where UpdateTimeStamp >= '"+latest_data+"'"
print(query)
df_op = spark.sql(
    query
    )
df_op.show()

select *  from vw_test Where UpdateTimeStamp >= '2024-10-27-09:51:47'
+--------------+------------+--------------------+--------------------+--------+--------------------+-------------------+
| Spending Item|Spend Amount|            walletsk|          categorysk|  DateSK|                PKSK|    UpdateTimeStamp|
+--------------+------------+--------------------+--------------------+--------+--------------------+-------------------+
| ATM Withdrwal|         500| 6156857810389859050|-1135341175396131025|20241016|  280241511041695669|2024-10-27-09:51:47|
|   Zomato Food|          63| 4962050552325147656|-1486987501743003025|20241017| 5021252364157443658|2024-10-27-09:51:47|
|     Groceries|          70| 1782127853235431588|-1486987501743003025|20241016|-1509858294728426275|2024-10-27-09:51:47|
|  food from FC|         100| 1782127853235431588|-1486987501743003025|20241018| 4523804523630209464|2024-10-27-09:51:47|
|          Food|         280| 1782127853235431588|-1486987501743003025|20241018|-1091224313624387780|2024-10-27-09:51:47|
|     Groceries|         250| 1782127853235431588|-1135341175396131025|20241018|-6146265185619424043|2024-10-27-09:51:47|
|      Auto Fee|          60| 1782127853235431588|-6960913322501014326|20241018| 1930211019749719713|2024-10-27-09:51:47|
|  food from FC|         100| 1782127853235431588|-1486987501743003025|20241009|-7837349580803936144|2024-10-27-09:51:47|
|     Groceries|          55| 1782127853235431588|-1486987501743003025|20241009| 4480945055125109027|2024-10-27-09:51:47|
|  food from FC|         100| 1782127853235431588|-1486987501743003025|20241009|-2651788987369694436|2024-10-27-09:51:47|
|Phone Recharge|         359| 4962050552325147656|-6072606072650303353|20241010|-6365939556445027173|2024-10-27-09:51:47|
|   Rent E-bill|         107| 1782127853235431588|  858271923021320980|20241011| 7449874640200457679|2024-10-27-09:51:47|
|      Bus Fare|         271| 6156857810389859050|-6960913322501014326|20241001|-7791941136341072556|2024-10-27-09:51:47|
|   Zomato Food|         436|-2996829708924805941|-1486987501743003025|20241001| 2720454524596920964|2024-10-27-09:51:47|
|Phone Recharge|         359| 6156857810389859050|-6072606072650303353|20241001|-5825610361050559354|2024-10-27-09:51:47|
|Phone Recharge|         118| 4962050552325147656|-6072606072650303353|20241001| 6412210583642820357|2024-10-27-09:51:47|
|  food from FC|         120| 1782127853235431588|-1486987501743003025|20241001|-9200187066285839138|2024-10-27-09:51:47|
| ATM Withdrwal|        1000| 6156857810389859050|-1135341175396131025|20241013|-2861820588924184646|2024-10-27-09:51:47|
|Phone Recharge|         299| 6156857810389859050|-6072606072650303353|20241013|-7516695269665004247|2024-10-27-09:51:47|
| Internet Bill|         943| 6156857810389859050|-4918081827928123316|20241014| 2213812721518763498|2024-10-27-09:51:47|
+--------------+------------+--------------------+--------------------+--------+--------------------+-------------------+
only showing top 20 rows

In [140]:
category_path_processed = "/mnt/Category_Parquet/"
calendar_path_processed = "/mnt/Calendar_Parquet/"
wallet_path_processed = "/mnt/wallet_Parquet/"

In [144]:
spark.read.format("parquet").load(category_path_processed).createOrReplaceTempView("vw_category")

spark.read.format("parquet").load(calendar_path_processed).createOrReplaceTempView("vw_calendar")
spark.read.format("parquet").load(wallet_path_processed).createOrReplaceTempView("vw_wallet")

In [143]:
df_op = spark.sql(
    "select Month,sum(`Spend Amount`),`Wallet used` from vw_test as a \
        left join vw_category as b \
            on a.categorysk = b.categorysk \
                left join vw_calendar as c \
                    on c.datesk = a.datesk \
                        left join  vw_wallet as d \
                            on d.walletsk = a.walletsk\
                                group by all"
    )
df_op.show()

+-------+-----------------+--------------------+
|  Month|sum(Spend Amount)|         Wallet used|
+-------+-----------------+--------------------+
|October|             2199|Credit Card - Amazon|
|October|            38290|           ICICI Pay|
|October|             6374|               G-pay|
|October|              920|       Amazon Wallet|
+-------+-----------------+--------------------+